@model MyWebBlog.ViewModel.BlogDetailModel;
@{
    ViewData["Title"] = "BlogDetail";
}

<h1>BlogDetail</h1>


@Html.LabelFor(m => m.writer, new { @value = @Model.writer })
@Html.TextBoxFor(m => m.writer)
@Html.LabelFor(m => m.title)
@Html.TextBoxFor(m => m.title)
<div style="width:100%">
    @Html.Raw(Model.body)
</div>


