@model MyWebBlog.ViewModel.BlogViewModel
@{
    ViewData["Title"] = "CreateBlog";
}

<h1>Create Blog</h1>
@using (Html.BeginForm("SendBlogItem", "Blog", FormMethod.Post))
{
    @Html.LabelFor(m => m.writer, new { @value = @Model.writer })
    @Html.TextBoxFor(m => m.writer)
    @Html.LabelFor(m => m.title)
    @Html.TextBoxFor(m => m.title)
    @Html.LabelFor(m => m.body)
    @Html.TextAreaFor(m => m.body, new { @class = "textboxsize" })
    <input type="submit" value="Submit" />
}
