@model MyWebBlog.ViewModel.BlogViewModel
@{
    ViewData["Title"] = "CreateBlog";
}

<h1>Create Blog</h1>
@using (Html.BeginForm("Index", "Blog", FormMethod.Post))
{
    @Html.LabelFor(m => m.date)
    @Html.EditorFor(m => m.date, "{dd/MM/yyyy}", new { htmlAttributes = new { @class = "datefield form-control", @value = Model.date, @disabled = "disabled" } })
    @Html.LabelFor(m => m.writer, new { @value= @Model.writer})
    @Html.TextBoxFor(m => m.writer)
    @Html.LabelFor(m => m.text)
    @Html.TextAreaFor(m => m.text, new { @class = "textboxsize" })
    <input type="submit" value="Submit" />
}
